<p><%= link_to "Atom feed", formatted_urls_url(:atom) %></p>

<p><%= link_to "Add job", new_url_url %></p>

<ul>
<% for url in @urls %>
<li>
<%= h url.url %>
<%= url.last_modified %>
<%= link_to "details", url_url(url) %>
</li>
<% end %>
</ul>
