<h1>Job <%= @job.id %></h1>

<p>Url: <%= link_to @job.url, @job.url %></p>

<p><%= link_to 'Edit job', edit_job_path %></p>

<p>Last modified: <%= @job.last_modified %></p>

<h2>Latest diff</h2>
<pre>
<%= @job.diff || @job.content %>
</pre>

<%= button_to "Update content", update_content_job_path(@job) %>
<%= button_to "Delete job", { :action => 'destroy', :id => @job }, :method => :delete, :confirm => 'Are you sure?' %>
